body {
    font-family: "Helvetica";
    color: #1F2937;
    font-size: 14px;
    text-align: justify;
}

h1 {
    font-size: 48px;
    text-align: center;
}

h3 {
    font-size: 20px;
    text-align: left;
}

h1, h3 {
    color: #F9FAF8;
    font-weight: bold;
    background-color: #1f2937;
    padding: 10px;
}

img {
    height: auto;
    width: 500px;
}